{
  "plugins": [
    [
      "module-resolver",
      {
        "root": "."
      }
    ],
    "@babel/plugin-syntax-jsx",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "pragma": "jsx",
        "pragmaFrag": "'fragment'"
      }
    ]
  ],
  "presets": [
    "@babel/preset-env"
  ]
}
