.dataTree {
}

.item {

}

.parent {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 4px;
}

.child {
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

.caretIcon {
  width: 14px;
  text-align: right;
}

.caretIcon, .objectType, .size {
  cursor: pointer;
}

.objectType, .index, .size {
  padding-left: 6px;
}

.objectType {
  color: #444444;
}

.size {
  font-style: italic;
}

.type {
  .number {
    color: #f9ae58;
  }

  .boolean {
    color: #ec5f66;
  }

  .string {
    color: #86b25c;
  }
}

.key {
  color: #881391;
}

.value {
  margin-left: 8px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: 2px;
}

.caretDown {
  border-width: 6px 5px 0 5px;
  border-color: #808080 transparent;
  margin-top: 4px;
}

.caretRight {
  border-width: 5px 0 5px 6px;
  border-color: transparent transparent transparent #808080;
}

